<div class="row justify-content-md-center">
    <div class="col col-md-6 offset-3 alert alert-success text-center" role="alert">
       

        <h2 class="text-center">Your Account was created Successfully</h2>
        <p class="text-center mt-2">You can now Log In and start using our services.</p>
        <hr  class="mt-3 mb-3"/>
        <a asp-controller="Movies" asp-action="Index" class="btn  btn-outline-success btn-block btn-lg mt-2">Check the movies</a>
    </div>
</div>