<div class="row justify-content-md-center">
    <div class="col col-md-6 offset-3 alert alert-success text-center" role="alert">
        <div class="mt-2 mb-2 text-center">
            <img class="text-center" style="aspect-ratio:1/1; max-width:350px; width:40%;" src="@Url.Content("~/images/success.svg")" alt="Alternate Text" />
        </div>

        <h2 class="text-center">Order completed Sucessfully</h2>
        <hr  class="mt-2 mb-2"/>
        <button class="btn btn-success btn-block btn-lg mt-5">Check the Orders</button>
    </div>
</div>