@model string;

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div class="d-flex flex-row-reverse mb-4 mt-2">
    <a asp-controller="@Model" asp-action="Create" class="btn btn-outline-success btn-rounded" data-mdb-ripple-init data-mdb-ripple-color="dark"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg> Add new @Model[..^1] @* Elimar laultima letra del model*@</a>
    </div>
}