<div class="text-center mt-5 p-5  d-flex flex-column align-items-center justify-content-center w-100 h-100">
    <h1 >Data not found</h1>
    <img style="aspect-ratio:1/1; height:100px;" src="@Url.Content("~/images/error404.svg")" alt="Not found icon" class="mt-2" />

    <p class="mt-2">You are trying to acces to a data that doesn't exist</p>
    <a asp-controller="Movies" asp-action="Index" class="btn btn-outline-dark  mt-5 d-flex align-items-center justify-content-center gap-2 " data-mdb-toggle="tooltip" data-mdb-placement="bottom" title="Volver" data-mdb-ripple-init data-mdb-ripple-color="dark"><svg xmlns="http://www.w3.org/2000/svg" class=" icon icon-tabler icon-tabler-arrow-left" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke=#000 fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M5 12l14 0" /><path d="M5 12l6 6" /><path d="M5 12l6 -6" /></svg> Return to Home Page</a>
</div>